<% if(data.title){ %>
<div class="title"><%= data.title %></div>
<% } %>
<div class="con">
    <% if(data.iconfont){ %>
    <div class="icon">
        <span class="iconfont"><%= data.iconfont %></span>
    </div>
    <% } %>
    <div class="content"><%= data.content %></div>

</div>
<div class="buttons">
    <% if(data.cancel){ %>
    <button type="button" class="cancel"><%= data.cancel %></button>
    <% } %>
    <% if(data.confirm){ %>
    <button type="button" class="confirm finish_sure"><%= data.confirm %></button>
    <% } %>
</div>
